$brand_dark: #221834;
$brand_medium: #7271a1;
$charcoal: #333;
$whiteish: #f0eef0;

$interval: 1.5;
$scale0: 1.2rem;
$scale1: $scale0 * $interval;
$scale2: $scale1 * $interval;

$narrow: 30rem;
$wide: 48rem;

@mixin on-mobile {
  @media only screen and (max-width: $narrow) {
    @content;
  }
}

@mixin off-mobile {
  @media only screen and (min-width: $narrow + 1) {
    @content;
  }
}

body {
  background: $whiteish;
  color: $charcoal;
  font-size: $scale0;
  font-family: sans-serif;
  font-weight: 200;
  line-height: $interval;
  margin: 0;
  padding: 0;
}

header {
  background: $brand_dark;
  color: $whiteish;

  nav {
    max-width: $wide;
    margin: 0 auto;
  }

  h1 {
    font-size: $scale1;
    font-weight: 300;
    margin: 0;
    padding-top: 1rem;
    text-align: center;
  }
}

nav {
  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  li {
    @include off-mobile {
      border-radius: 5px 5px 0 0;
    }
    display: inline-block;
    padding: 0 0.5rem;

    a, a:hover {
      color: $whiteish;
    }

    @include off-mobile {
      &.current {
        color: $charcoal;
        background: $whiteish;

        a {
          color: $charcoal;
          background: $whiteish;
        }
      }
    }

    @include on-mobile {
      &.current {
        font-weight: 800;
      }
    }

    &.other:hover {
      color: $whiteish;
      background: $brand_medium;

      a {
        color: $whiteish;
        background: $brand_medium;
      }
    }
  }
}

main {
  display: block; // For legacy browsers that don't recognize the element
  max-width: $wide;
  margin: 0 auto;

  a {
    color: $brand_dark;
    background: $whiteish;
  }
}

ul.issues {
  list-style: none;
  padding: 0;

  li {
    display: block;
  }
}

body.index blockquote {
  background: $brand_medium;
  border-radius: 5px;
  clear: both;
  color: $whiteish;
  font-style: italic;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  text-align: center;

  p {
    margin: 0;
  }
}

img.inset-right {
  float: right;
}

h1, h2, h3, h4 {
  margin-bottom: 0;
  font-size: $scale1;
  font-weight: 300;
  line-height: 1;

  & + p {
    margin-top: 0;
  }
}

h3 {
  font-size: $scale0;
  font-weight: 500;
}

.breakout {
  display: block;
}

footer {
  max-width: $wide;
  margin: 0 auto;
  text-align: center;
}

@include on-mobile {
  header, main, footer {
    padding: 0 0.5rem;
  }
}

.post-summary {
  h3 {
    position: relative;

    @include on-mobile {
      time {
        display: block;
      }

      .post-anchor {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    @include off-mobile {
      .post-anchor {
        visibility: hidden;
      }

      &:hover .post-anchor {
        visibility: visible;
      }
    }
  }

  .media {
    margin: 1rem 0;

    img {
      width: 100%;
    }
  }

  blockquote {
    border-left: 3px solid $brand_medium;
    margin: 0;
    padding: 0 1rem;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
