@tailwind base;
@tailwind components;
@tailwind utilities;

/* $brand_dark: #221834; */
/* $brand_medium: #7271a1; */

body {
  font-size: 20px;
  @apply bg-purple-10;
  @apply font-light;
  @apply font-sans;
  @apply text-gray-800;
}

header {
  @apply bg-purple-900;
  @apply text-center;
  @apply text-gray-100;
  @apply w-screen;
}

header nav {
  @apply max-w-full;
  @apply md:max-w-3xl;
  @apply mx-auto;
}

header h1 {
  @apply text-3xl;
  @apply py-2;
}

header ul {
  @apply list-none;
}

header ul li {
  @apply inline-block;
  @apply mx-1.5;
  @apply px-1;
  @apply py-0.5;
  @apply rounded-t;
  @apply text-lg;
}

header ul li.current {
  @apply text-purple-900;
  @apply bg-gray-100;
}

header ul li:hover {
  @apply text-gray-100;
  @apply bg-purple-400;
}

hr {
  @apply border-purple-400;
  @apply border-t;
  @apply mx-10;
  @apply my-4;
}

footer {
  @apply text-center;
  @apply my-4;
}

footer .breakout {
  @apply block;
}


main {
  @apply max-w-full;
  @apply md:max-w-3xl;
  @apply mx-auto;
}

main blockquote {
  @apply bg-purple-400;
  @apply italic;
  @apply m-4;
  @apply p-4;
  @apply rounded-lg;
  @apply text-center;
  @apply text-gray-100;
}

main h2 {
  @apply font-medium;
  @apply mt-2;
  @apply text-3xl;
}

main h3 {
  @apply font-medium;
  @apply mt-3;
}

main a {
  @apply underline;
}

main p {
  @apply mb-2;
}

main p.compact {
  @apply leading-none;
}

.inset-right {
  @apply float-right;
  @apply m-2;
}

.endorsements-wrapper {
  @apply flex;
  @apply flex-1;
  @apply flex-wrap;
}

.endorsements-wrapper .endorsement-logo {
  @apply inline-block;
  @apply bg-white;
  @apply w-1/2;
}

.message--title .message--title-anchor {
  visibility: hidden;
}

.message--title:hover .message--title-anchor {
  visibility: visible;
}
