---
excerpt: As a Council Member my number one priority will be the City’s relationship with the Community. We are elected to represent your voices at City Hall. I promise to restore this relationship with our community. In addition to my commitment to people before profit I will focus on the relationship between our police and the community, work to expand the responsibilities of the Volunteer Coordinator, and create supplemental Community Advisory Boards to work hand in hand with our City Committees.
layout: issue
order: 3
section: Issues
title: Community-City Relationship
---

<p>
As a Council Member my number one priority will be the City’s relationship with the Community. We are elected to represent your voices at City Hall. I promise to restore this relationship with our community. In addition to my commitment to people before profit I will focus on the relationship between our police and the community, work to expand the responsibilities of the Volunteer Coordinator, and create supplemental Community Advisory Boards to work hand in hand with our City Committees.
</p>

<h3>Rebuild the Community-Police Relationship</h3>

<ul>
  <li>Support the replacement of School Resource Officers with better qualified  social workers.</li>
  <li>Approach police funding critically and accept responsibility that addressing the needs of our community and reducing the demands on the police department dictate strategic policy action by  council members.</li>
  <li><strong>Establish a Community Advisory Board</strong> comprised of community leaders and residents, Mental Health Professionals, and Police Professionals focused on training curriculums, de-escalation tactics, and how to work with the County to reduce repeat calls.</li>
  <li><strong>Expand Police Traffic-Stop Data</strong> to better inform how to better protect and serve our community. This Data will also show the needs of our community and give the City a better understanding when addressing those needs.</li>
  <li><strong>Establish new categories of fineable versus arrestable offenses</strong> working to end the contribution to higher jail and prison populations.</li>
  <li>Work to change ticketing from a regressive flat fee scale to a progressive income based process. This will ensure the purpose of ticketing affects each offender proportionately. In our current flat fee scale, those with lower incomes are often more devastated by ticketing. Working to overhaul the ticketing fee scale will allow the City to collect increased revenue.</li>
  <li>Refocus Police enforcement efforts away from marijuana related offenses—something that often is rooted in systemic racism and contributes to disproportionate prison populations and the School-to-Prison Pipeline.</li>
</ul>

<h3>Expansion of Volunteer Coordinator</h3>

<p>
The City of Roseville currently has a Volunteer Coordinator which is responsible for planning and hosting events for residents. As a Council Member, I will work to ensure the expansion of the Volunteer Coordinator’s role.
</p>

<p>
Areas of expansion for the Volunteer Coordinator will include:
</p>

<ul>
  <li>Police and community outreach and trust building</li>
  <li>Small Business assistance and resource workshops</li>
  <li>Sustainable education workshops for all residents and business owners</li>
  <li>Job training and resource outreach, assistance, and advocacy</li>
  <li>Housing and job resources for those with Section 8 and criminal backgrounds</li>
  <li>Increasing civic participation through active community outreach</li>
  <li>Recruit residents with invaluable experience for the various community boards</li>
</ul>

<h3>Establishment of Community Advisory Boards</h3>

<p>
Community advisory boards are bottom-up opportunities for residents to communicate their concerns to the City. The boards will allow the community an opportunity for their experience, expertise, and input to address the larger concerns of the City’s future.
</p>

<p>
There are three primary boards I have proposed. Working in tandem with the residents is the surest way an Urban Policy is inclusive and accessible to all residents.  These boards are intended to be representative of our community at large, while also providing a voice to those often excluded from the decision making process.  They include:
</p>

<ul>
  <li>Affordable Housing Advisory Board</li>
  <li>Community Police Advisory Board</li>
  <li>Community Advisory Board on Sustainability and Carbon Neutrality</li>
</ul>
