{% if page.url == url %}
  {% assign className = "current" %}
  {% assign ariaCurrent = "page" %}
{% else %}
  {% assign className = "other" %}
  {% assign ariaCurrent = "false" %}
{% endif %}

<li class="{{ className }}">
  <a href="{{ url }}" aria-current="{{ ariaCurrent }}">
    {{ title }}
  </a>
</li>
