---
description: My vision for our city is to become a leader for inclusion, racial equity and environmental stewardship in the Twin Cities.
layout: layout
---

<blockquote>
  My vision for our city is to become a leader for inclusion, racial equity and environmental stewardship in the Twin Cities.
</blockquote>

<img src="/images/dannah-portrait.jpg" alt="Portrait of Dannah Thompson" class="inset inset-right">

<h2>My vision for Roseville</h2>

<p>
I want Roseville to be a place where we help each other to grow through community input, collaboration, and action.  As your city council member I will bring forward policy ideas that protect our most vulnerable residents, push Roseville’s growth as a steward of environmental sustainability, and improve the accessibility, and affordability of renting or owning a home here.
</p>

<p>
As a council member I pledge to work to strengthen the relationship between the city and our community members.  I will commit to meeting regularly with constituents about their ideas and needs, and bring those ideas forward to the council in order to effect change in our city.
</p>

<p>
I believe that including the community in the decision making process will create a more innovative, equitable, and environmentally responsible Roseville. I believe the many needs facing our city overlap across race, class, gender, age and income. In short that our needs are intersectional. To get to the root of these issues our solutions must also be intersectional.
</p>

<p>
I have set a bold vision for Roseville, because I believe in a future worth fighting for. Because we are stronger when we work together, I humbly request your vote for Roseville City Council.
</p>

<h2>Endorsements</h2>

<section class="endorsements-wrapper">
{% for endorsement in endorsements %}
  {% render "endorsement_link" endorsement: endorsement %}
{% endfor %}
</section>

<h2>About me</h2>

<p>
I am an Anishinaabe woman and a descendant of the White Earth Reservation. I was raised in Northeast Minneapolis. I earned my Bachelor’s degree in political science with a minor in justice and Peace Studies at the University of St. Thomas. I have worked at a small law firm in downtown Minneapolis since 2010 where I am a paralegal supervisor. My husband Brett and I moved to Roseville in 2016 after our rent in Minneapolis continued to rise year after year.
</p>

<p>
I decided to run for office to protect residents from rising and unaffordable rents, to ensure our property taxes are used responsibly, and to create a future for our city that is brighter than our past.
</p>

<blockquote>
I have always believed in direct action and community engagement.
</blockquote>

<p>
I have written and called representatives, attended city council meetings, and I have protested US military intervention, police violence, and unjust, inequitable policy decisions.
</p>

<p>
Since moving to Roseville and running for City Council in 2018, I have joined the Roseville Housing Network, created by former Mayor of Roseville Craig Klausing. It is a community driven network of individuals committed to supporting affordable housing at its many stages of development.
</p>

<p>
With your support I promise to work hard, be dedicated, and to help lead us to a Roseville that grows stronger together.
</p>
