---
description: Dannah Thompson's priorities for Roseville City Council.
title: Issues
---

<ul class="issues">
<% issues.each do |issue| %>
  <li>
  <h3><%= link_to issue.data.title, issue %></h3>
  <p><%= issue.data.excerpt %></p>
  </li>
<% end %>
</ul>
