---
description: Dannah Thompson's priorities for Roseville City Council.
layout: layout
title: Issues
---

<ul class="issues">
{% for issue in collections.issues %}
  <li>
  <h3><a href="{{ issue.url }}">{{ issue.data.title }}</a></h3>
  <p>{{ issue.data.excerpt }}</p>
  </li>
{% endfor %}
</ul>
